@import "variables.scss";

.country-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    &__basic {
        padding: 20px 40px;
        box-shadow: $box-shadow;
        &__image {
            width: 200px;
        }
        &__name {
            font-size: 18px;
            text-align: center;
            margin-top: 15px;
        }
        &__region {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            margin-top: 5px;
        }
        &__wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
        &__container {
            text-align: center;
            &_title {
                color: $text-color-secondary;
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }
}
